.frame {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;     /* top / client / bottom */
    grid-template-columns: auto 1fr auto;  /* left / client / right */
    grid-template-areas:
        "top    top    top"
        "left   client right"
        "bottom bottom bottom";
}

.frame > * {
    grid-area: var(--align, auto);
}

/* soll sich Element frei im Parent bewegen, einfach absolute Positionierung */